body{
    background-image: url(bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #333;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 2em;
    
}
.kor{
    list-style:circle;
}
.romai{
    list-style:upper-roman;
}
.tartalom{
    width: 80%;
    margin: 0 auto;
}
h1{
    color: #FDE55F;
    font-variant: small-caps;
    text-align: center;
    font-size: 3em;
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: #FDE55F;
    padding: 10px;
}
h2,h3{
    color: #FDE55F;
    text-transform: uppercase;
}
#logo{
    width: 50%;
    margin: auto;
    
}
.kozepre{
    text-align: center;
}
p{
    text-align: justify;
}
.klanok{
    width: 20%;
    float: right;
}
a{
    text-decoration: none;
    color: #FDE55F;
}
a:hover{
    color: #FDE55F;
}